.welcome-back {
    border: 2px solid black;
    margin-top:50px;
    margin-right:350px;
    margin-left: 350px;
}

.new_problem{
    margin-top: 50px;
}

.problem-set-table th, .problem-set-table td {
    vertical-align: middle;
    line-height: 1.5;
}

.problem-set-table{
    padding-top:20px;
    margin-left: auto;
    margin-right: auto;
}

.problem-set-table td {
    padding: 2px 40px;
    font-size:20px;
    font-weight: 200;
}
.problem-set-table th {
    padding: 10px;
    text-decoration: underline;
    font-size:25px;
    font-weight: 300;
}

.problems-header{
    margin-top:70px;
    text-decoration: underline;
}

h1{
    font-size: 60px;
    font-weight:400;
}

h2{
    font-size: 40px;
    font-weight:300;
}

p{
    font-size:100px;
}
span {
    font-size: 20px;
}