body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

.welcome-back {
    border: 2px solid #333;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.new_problem {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 11px;
}

.problem-set-table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

.problem-set-table th,
.problem-set-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

.problem-set-table th {
    background-color: #333;
    color: #fff;
}

.problem-set-table td {
    background-color: #fff;
}

.problems-header {
    text-align: center;
    margin: 70px;
    text-decoration: underline;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

span {
    font-size: 20px;
}

.play-button,
.leaderboard-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0ca002;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 11px;
    transition: background-color 0.3s ease;
    outline: none;
    justify-content: center;
}

.edit-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #c4d31f;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 11px;
    transition: background-color 0.3s ease;
    outline: none;
    justify-content: center;
}
.edit-button:hover {
    background-color: #b8e829;
}

.play-button:hover {
    background-color: #03c000;
}

.leaderboard-button {
    background-color: #0b56a7;
}

.leaderboard-button:hover {
    background-color: #036ad8;
}