.leaderboard-table {
    margin: 20px auto;
    width: 50%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

.leaderboard-table th {
    background-color: #333;
    color: #fff;
}

.leaderboard-table td {
    background-color: #fff;
}

.problems-header {
    text-align: center;
    margin: 70px;
    text-decoration: underline;
}
.new_problem {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 11px;
}
