.log_container{
    background-color: #ffffff;
    border-radius:8px;
    margin-top: 200px;
    margin-right: auto;
    margin-left:auto;
    outline:1px solid black;
    width: 40%;
}

.login_header{
    font-weight:700;
}

a {
    color: #007BFF;
    text-decoration: none;
}