.background {
    background-color: #ffffff;
}

.input {
    background-color: rgba(255, 255, 255, 0);
    outline: 2px solid rgb(0, 0, 0);
    width: 100px;
    height: 60px;
}

.new_problem {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 11px;
}

.mainproblemview {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
}

.problem_container{
    background-color: white;
    border-radius: 10px;
    outline: 2px solid black;
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
