.reg_container {
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid black;
    width: 40%;
}

.register_header {
    font-weight: 700;
    font-size: 35px;
}

a {
    color: #007BFF;
    text-decoration: none;
}